@page
@model StockServe.Pages.KeuzepaginaModel
@{
}

<div class="container-fluid bg-dark text-light p-3" style="height: 100vh;">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6 bg-secondary text-center rounded p-5">
            <h1>Welkom</h1>
            <p>Maak hier uw keuze naar welke pagina u toe wilt</p>
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger mt-3">
                    @TempData["Error"]
                </div>
            }

            <form method="post">
                <div class="d-grid gap-3">
                    <button type="submit" asp-page-handler="Voorraaddashbord" class="btn btn-light w-100">Voorraaddashboard</button>
                    <button type="submit" asp-page-handler="Tafeldashbord" class="btn btn-light w-100">Tafeldashboard</button>
                </div>
            </form>
        </div>
    </div>
</div>
